.container {
  display: flex;
  justify-content: center;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 5px;
  align-self: center;
}

.inputs {
  display: flex;
  justify-content: space-between;
}

input,
button,
pre {
  padding: 8px;
  font-size: medium;
  box-sizing: border-box;
  font-family: inherit;
}

pre {
  border: 1px solid gray;
  white-space: pre-wrap;
}
