.container {
  display: flex;
  justify-content: center;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 5px;
  align-self: center;
}

.format {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

button,
input,
pre {
  padding: 8px;
  font-size: medium;
}

textarea {
  padding: 8px;
  font-size: large;
  font-family: inherit;
}

pre,
p {
  padding: 8px;
  border: 1px solid gray;
  font-size: large;
  font-family: inherit;
}

pre {
  box-sizing: border-box;
  width: inherit;
  white-space: pre-wrap;
  text-align: justify;
}
