.App {
  text-align: center;
}

h1 {
  padding: 5px;
}

.App-link {
  color: #61dafb;
}

input {
  padding: 5px;
}

button {
  padding: 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents {
  background-color: aliceblue;
  width: 600px;
  padding: 8px;
  text-align: center;
  margin-top: 10px;
}
